.guess-form-section {
	background-color: #394264;
	width: 380px;
	margin: 0 auto;
	padding-top: 2em;
}

input {
	display: block;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	color: #fff;
	background-color: #50597b;
	border-radius: 4px;
	text-align: center;
	padding: 0.2em;
	font-size: 2em;
	border: solid 1px #1f253d;
}

.guess-field:focus {
	outline: none;
}

.button {
	background-color: #1F253D;
	color: #95a5a6;
	font-size: 2em;
	padding: 0.2em;
	margin-top: 0.8em;
}

.button:hover {
	background-color: #e64c65;
	color: #fff;
	transition: background 1s ease-in-out;
	cursor: pointer;
}