/* .content {
	background-color: #e74c3c;
	width: 600px;
	border-radius: 3px;
	margin: auto auto;
	border: 2px solid #d44537;
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	background-color: #d44537;
	border-radius: 3px 3px 0 0;
}

.content p {
	margin: 0;
	padding: 10px 0;
	line-height: 1.25em;
	text-align: justify;
}


.info-ol {
	padding-left: 20px;
	text-align: left;
}

.info-ol li {
	padding: 5px 0;
 	line-height: 1.25em;
}

.info-ol li strong {
	text-decoration: underline;
} */

/* Create a highlight keyframe */
@keyframes section-highlight {
  0% {
    background: #9b1228;
  }
  100% {
    background: none;
  }
}

ol {
  margin-bottom: 1rem;
}

#what {
  padding: 2rem;
}

#what:focus {
  outline: 0;
}

#what:target {
  animation: section-highlight 3s;
}


